<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Weather App{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'weather/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'weather' %}">Weather App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favorite_cities' %}">Избранные города</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat' %}">Чат</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statistics' %}">Статистика</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Основное содержимое -->
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
